# Week 13 Quiz

## [Name] - [UNI]

### Due Sun Dec 19th, 11:59pm ET

In this quiz we'll practice using SQL to extract and transform some US State population data.

We'll use pandasql to execute SQL on pandas dataframes.

If for some reason pandasql deosn't work, please just take a shot at what you think the SQL should be.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandasql import PandaSQL

%matplotlib inline

## Set up pysqldf

In [ ]:
# Setting up an instance of PandaSQL to pass SQL commands to
pysqldf = PandaSQL()

## Load Data

In [ ]:
# Load state population data
state_population = pd.read_csv('../data/state-population.csv')
state_population = state_population.rename({'state/region':'abbreviation'},
                                           axis=1)

# Load state area data
state_areas = pd.read_csv('../data/state-areas.csv')
state_areas = state_areas.rename({'area (sq. mi)':'area'},axis=1)

# Load state abbreviation data
state_abbrevs = pd.read_csv('../data/state-abbrevs.csv')

## Practice SQL

In [ ]:
# Write SQL to print out:
#    all columns from table state_areas limited to the first 3 rows 
#    aka state_areas.head(3)
sql = """
____
"""
pysqldf(sql)

In [ ]:
# Write SQL to print out the same dataframe as given by this pandas call:
#    state_popultion.loc[:,['abbreviation']].iloc[:3]
sql = """
____
"""
pysqldf(sql)

---

# OPTIONAL

Everything below is optional if you'd like more practice with sql

In [ ]:
# Write SQL to print out:
#    columns state and area from table state_areas for rows with state starting with 'Mi'
sql = """
____
"""
pysqldf(sql)

In [ ]:
# Write SQL to print out:
#    columns state and area from table state_areas 
#    for rows with state starting with 'Mi' and area greater than 80000
sql = """
____
"""
pysqldf(sql)

In [ ]:
# Write SQL to print out:
#    all columns from table state_areas 
#    LEFT JOINED with state_abbreviations ON state
#    limited to the first 3 rows
sql = """
____
"""
pysqldf(sql)

In [ ]:
# Write SQL to print out:
#    all columns from table state_areas aliased as s_area
#    (INNER) JOINED with state_abbreviations aliased as s_abb ON state
#    (INNER) JOINED with state_population aliased as s_pop ON abbreviation
sql = """
____
"""
pysqldf(sql)

In [ ]:
# Write SQL to print out:
#    s_area.state,
#    s_area.area,
#    s_pop.year,
#    s_pop.population
#    from table state_areas aliased as s_area
#    (INNER) JOINED with state_abbreviations aliased as s_abb ON state
#    (INNER) JOINED with state_population aliased as s_pop ON abbreviation
#    where s_pop.ages is 'total'
#    ordered by s_area.state, s_pop.year
sql = """
____
"""
pysqldf(sql)

In [ ]:
# Feel free to experiment with additional SQL calls. 
# For example, state_population contains more regions than there are states in state_areas
#     so different join types (left, right) will give different results

# As an additional challenge: calculate the total average population per state